p {
  background-color: transparent;
}
aside,
details,
figcaption,
figure,
menu,
section,
summary {
  display: block;
}

a {
  background-color: transparent;
}

:active,
:hover {
  outline-width: 0;
}
:any-link {
  color: inherit;
  text-decoration: none;
}
small {
  font-size: 80%;
}

img {
  border-style: none;
}

code,
kbd,
pre,
samp {
  font-family: var(--monospace);
  font-size: 1rem;
}

figure {
  margin: 1rem;
}
