:root {
    font-feature-settings: "kern", "liga", "pnum" ; /*"frac",  */
    -webkit-font-smoothing: antialiased;
    /*font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;*/
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Helvetica Neue", "Lucida Grande", Roboto, "Segoe UI", sans-serif;
    padding: 0rem;
    margin: 0rem;
    font-weight: 300;

    --fontSize: 1.1rem;

    --gray1: gray(28);
    --gray2: gray(66);
    --gray3: gray(38);
    --gray4: gray(101);
    --gray5: gray(166);
    --gray6: gray(64);
    --color1: rgb(250, 224, 60);
    --color2: rgb(177, 143, 106);
    /*rgb(121, 199, 83)  -- green
rgb(0,148,115) --- Emerald

rgb(250, 224, 60) -- butter cup
rgb(177, 143, 106) -- iced coffee */


    --mainColor: gray(51);
    --color-black: gray(51);
    --color-gray: var(--gray4);
    --highlightColor: hwb(190, 35%, 20%);
    --monospace: Inconsolata, Consolas, Monaco, "Liberation Mono", Courier, monospace;



    --rhythm-ratio: 1.20;
    --rhythm-rem: calc(1rem *  var(--rhythm-ratio));
    --rhythm-squared: calc(var(--rhythm-ratio) * var(--rhythm-ratio));
    --nasa-pi: 3.141592653589793;

    --h1-font-size: calc(var(--fontSize) * calc(var(--rhythm-ratio)) * 2);
    --h2-font-size: calc(var(--fontSize) * calc(var(--rhythm-ratio)) * 1.5);
    --h3-font-size: calc(var(--fontSize) * calc(var(--rhythm-ratio)) * 1.25);
    --h4-font-size: calc(var(--fontSize) * calc(var(--rhythm-ratio)) * 1);
    --h5-font-size: calc(var(--fontSize) * calc(var(--rhythm-ratio)) * .75);
    --h6-font-size: calc(var(--fontSize) * calc(var(--rhythm-ratio)) * .625);


}
/* custom selectors */
@custom-selector :--heading h1, h2, h3, h4, h5, h6;

/* custom media queries */
@custom-media --viewport-phone (max-width: 50.0rem);
@custom-media --viewport-medium (width >= 50rem) and (width <= 75.0rem);
@custom-media --viewport-non-mobile (min-width: 75rem);


/* Larger than mobile screen */
@media (min-width: 40.0rem) {  }

/* Larger than tablet screen */
@media (min-width: 80.0rem) {  }

/* Larger than desktop screen */
@media (min-width: 120.0rem) {  }
