<header class="post-title">
   <h2>
      <% case %>
         <% when !defined?(current_article.data.llist) && !current_article.data.llist.nil? %>
            <%= link_to current_article.title, current_article.data.llist %>
         <% when index.nil? %>
            <%= current_article.title %>
         <% else %>
            <%= link_to current_article.title, current_article %>
      <% end %>
      <% if defined?(current_article.data.description).nil? %>
         <span class="mute"> <%= current_article.data.description %></span>
      <% end %>
   </h2>
</header>
