// Shameless rip off from bootstrap code
// mostly, but 'refined' over time
// Pagination (multiple pages)
// --------------------------------------------------
nav {
   min-width: 100%;
}
.nav {
   text-transform: lowercase;
   min-width: 100%;
   display: inline-block;
   padding-left: 0;
   margin-bottom: 1rem;
   border-radius: 3rem;
   > li {
      min-width: inherit;
      @include media($medium-screen-up) { min-width: 49%; }
      color: $secondary-accent-color;
      display: inline; // Remove list-style and block-level defaults
      position: relative;
      text-align: center;
      border: rem(1px) solid $secondary-accent-color;
      margin-left: rem(-1px);
      @include clearfix();
      > a, { text-decoration: none; }
      &:hover, &:focus {
         color: white;//$base-font-color;
         background-color: $secondary-accent-color;
      }
   }
   .prev { float: left; margin-bottom: rem(-1px) }
   .next { float: right; }
    @include media($medium-screen-up) {
      .prev { margin-bottom: rem(1px) }
   }
}
