// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: $helvetica;
$serif: $georgia;

$base-font-family: 'Source Sans Pro', $sans-serif;
$header-font-family: $helvetica;
$font-family-monospace: 'Source Code Pro', Inconsolata, Consolas, Monaco, monospace;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1.125rem;
$base-line-height: $base-font-size * 1.618;
$base-border-radius: #{$augmented-fourth / 10}rem; //3rem;
$base-footer-height: 4.5rem;
$base-font-size-reduction: 60%;

// Colors
///////////////////////////////////////////////////////////////////////////////

$blue: rgb(35,75,115); //#477DCA;
$dark-gray: rgb(61,61,61); //rgb(47,47,47); // #333;
$medium-gray: rgb(83,83,83);//rgb(103,103,103); // #999;
$light-gray: rgb(253,253,253); // #DDD;
$light-red: rgb(214,73,55) ;// #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

$white: rgb(249,249,249);
$black: rgb(47,47,47);
$light_grayish_violet: rgb(225,220,236);
$light_grayish_blue: rgb(225,236,241);
$light_grayish_orange: rgb(236,225,220);
$light_grayish_green: rgb(231,236,220);
$light_grayish_yellow: rgb(249,249,222);
$light1: 15%;
$light2: 30%;

// Body Color
$base-body-color: white;

//  Font Colors
$base-font-color: $black;
$base-accent-color: $light_grayish_violet;
$secondary-accent-color: $light_grayish_blue;
$tertiary-accent-color: $light_grayish_green;

//  Text Link Colors
$base-link-color: lighten($base-font-color, $light1); //$base-accent-color;
$hover-link-color: lighten($base-font-color, $light1); //darken($base-accent-color, 15);

// Header
$header-border-color: rgb(192,182,215);

// Border color
$base-border-color: lighten($base-font-color, $light2); //$light-gray;

// Footer Colors
$footer-background: $base-font-color; //$base-accent-color;//rgb(30,184,85); //rgb(31,193,246); //
$footer-font-color: transparentize($base-body-color, .5);

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;
