<!doctype html>
<html lang="en-US">
<head>
  {{> head }}
</head>
<body class="nullog">

<main class='nullog-body'>
  <ul>
{{#each_upto blog 14}}

  <li>{{> article/header renderSelf=renderSelf}}</li>

{{/each_upto}}
</ul>
</main>
<header class='site-header center'>
{{> nav-header }}
</header>
<footer>
{{> footer }}
</footer>
</body>
</html>
