.bits ul> li {
    padding-left: .5rem;
    text-indent: -.5rem;
}
.post, .page {

   h1, h2, h3, h4, h5, h6 {
      font-weight: 400;
   }
   .number {
      list-style-type: decimal;
   }
   .bullet {
      list-style-type: circle;
   }
   .post-body, .page-body {
      margin-bottom:2rem;
      a {
         border-bottom: rem(1px) dotted $base-accent-color;
      }
      @import 'bedrock/asperities/explore';
      li> ul {
         margin-left: $base-spacing;
      }
      ol.number {
         @extend .number;
         margin: $base-spacing;
         ul> li {
            //margin-left:$base-line-height;
           @extend .bullet;
         }
      }
      .blank-bullet {
         ul> li {
            @extend .bullet;
         }
      }

   }
   .post-title, .page-title {
      text-transform: lowercase;
      small {
         vertical-align: middle;
         text-transform: lowercase;
      }
//     margin: rem(3px) auto rem(3px);
   }
   blockquote {
      font-family: $serif;
      font-size: 105%;
      @include media($medium-screen-up) {
         font-size: $base-font-size * $unitless-line-height;
      }
      small{
         display: block;
      }
   }
   .footnotes {
      font-family: $sans-serif;
      display: block;
      $footnotes-font: ms(-2, $base-font-size, $major-second);
      font-size: $footnotes-font;
      background-color: $tertiary-accent-color;
      padding: $footnotes-font;
      //padding-bottom: $footnotes-space;
      //font-family: "Helvetica Neue", Helvetica ;
      p { margin: 0;}
      ol {
         margin-left: #{$unitless-line-height}rem;
         list-style-type: decimal;
      }
   }
}

#posts {
   .post {
      margin: .5rem 0 .5rem 0;
//      border-bottom: rem(1px) solid $base-accent-color;
   }
   .post:first-child {
//      margin-top: 0rem;
   }
   .post:last-child {
//      border-bottom: none;
   }
}

.mute {
  color: lighten($base-font-color, $light2 + $light1);
  font-weight: 200;
}

.meta-data {
  font-family: $font-family-monospace;
  color: lighten($base-font-color, $light2 + $light1);
  font-size:80%;
}
.count {
   font-family: $font-family-monospace;
}
