<h1 class="site-title center lowercase">
  <a href='/'>{{site.title}}</a>
</h1>
<nav class="site-nav lowercase">
  <ul>
    <li class="nav-node"><h2 class="small"><a href="/about/">about</a></h2></li>
    <li class="nav-node"><h2 class="small"><a href="/explore/">explore</a></h2></li>
    <li class="nav-node"><h2 class="small"><a href="/io/">io</a></h2></li>
  </ul>
</nav>