<nav>
  <div class="site-title">
    <a href='/'>{{site.title}}</a>
  </div>
  <div class="site-nav">
    <div class="nav-node"><a href="/about/">about</a></div>
    <div class="nav-node"><a href="/explore/">explore</a></div>
    <div class="nav-node"><a href="/io/">io</a></div>
  </div>
</nav>