<nav>
  <div class="site-title">
    {{site.title}}
  </div>
  <div class="site-nav">
    <div class="item">about</div>
    <div class="item">explore</div>
    <div class="item">io</div>
  </div>
</nav>  
