<h1 class="site-title center lowercase">
  <a href='/'>{{site.title}}</a>
</h1>
<nav class="site-nav lowercase">
    <h2 class="nav-node h5"><a href="/about/">about</a></h2>
    <h2 class="nav-node h5"><a href="/explore/">explore</a></h2>
    <h2 class="nav-node h5"><a href="/io/">io</a></h2>
</nav>