<!doctype html>
<html lang="en-US">
<head>
  {{> head }}
</head>
<body class="nullog">
<header class='site-header center'>
{{> nav-header }}
</header>
<main class='nullog-body'>
{{#each_upto blog 8}}
{{> article }}
{{/each_upto}}
</main>
<footer>
{{> footer }}
</footer>
</body>
</html>
