<!doctype html>
<html>
<head>
  {{> head }}
</head>
<body class="nullog">
  <header class='site-header'>
    {{> nav-header }}
  </header>
  <main>
    {{#each_upto blog 8}}
      {{> article }}
    {{/each_upto}}
</main>
<footer>
  {{> footer }}
</footer>
</body>
</html>
