<!doctype html>
<html>
<head>
  {{> head }}
</head>
<body class="nullog">
  <header class='site-header'>
    {{> nav-header }}
  </header>
  <main>
    <article class="page {{tags}}">
      <header class="page-header">
        <h2>{{ title }}
          {{~#if subtitle}}
            <span class="mute"> {{ subtitle }}</span>
          {{/if}}
        </h2>
      </header>
      {{{ contents}}}
    </article>
</main>
<footer>
  {{> footer }}
</footer>
</body>
</html>
