@charset "utf-8";
/*@import 'normal.css';*/
@import 'sanitize.css';
@import 'colors.css';
@import 'xyz.css';
@import 'grid.css';
@import 'baseSet.css';
/*
@import 'markdown.css';
@import 'lost.css';*/

:active,
:hover {
  outline-width: 0;
}
:any-link {
  text-decoration: none;
  font-size: inherit;
}