@charset "utf-8";
@import 'colors.css';
@import 'xyz.css';
@import 'lost.css';
@import 'normal.css';
@import 'markdown.css';

@media (min-width: 40rem) {
}

.monospace {
  font-family: var(--monospace);
}
body {
  font-family: var(--base-font);
  font-size: var(--h4);
  line-height: var(--lh);
  margin: 1.25rem;
}

h1, h2, h3 {
  margin-top: var(--m1);
  margin-bottom: 0;
}

h4, h5, h6,
p, dl, ol, ul, blockquote {
  margin-top: var(--m2);
  margin-bottom: var(--m2);
}

h1      { font-size: var(--h2) }
h2, h3  { font-size: var(--h3) }
h4      { font-size: var(--h4) }
h5, h6  { font-size: var(--h5) }

.h0 { font-size: var(--h0) }
.h1 { font-size: var(--h1) }
.h2 { font-size: var(--h2) }
.h3 { font-size: var(--h3) }
.h4 { font-size: var(--h4) }
.h5 { font-size: var(--h5) }
.h6 { font-size: var(--h5) }

@media screen and (min-width: 40em) {
  .xh0 { font-size: var(--h0) }
  .xh1 { font-size: var(--h1) }
  .xh2 { font-size: var(--h2) }
  .xh3 { font-size: var(--h3) }
  .xh4 { font-size: var(--h4) }
  .xh5 { font-size: var(--h5) }
  .xh6 { font-size: var(--h5) }
}

.lh1 { line-height: 1 }
/* h0, h1, h3 */
.lh2 { line-height: calc(7/6 * 1em) }
/* For body copy */
.lh3 { line-height: calc(16/9 * 1em) }

.mt0 { margin-top:    0 }
.mb0 { margin-bottom: 0 }
.mt1 { margin-top:    var(--x1) }
.mb1 { margin-bottom: var(--x1) }
.mt2 { margin-top:    var(--x2) }
.mb2 { margin-bottom: var(--x2) }
.mt3 { margin-top:    var(--x3) }
.mb3 { margin-bottom: var(--x3) }
.mt4 { margin-top:    var(--x4) }
.mb4 { margin-bottom: var(--x4) }
.mt5 { margin-top:    var(--x5) }
.mb5 { margin-bottom: var(--x5) }
.mt6 { margin-top:    var(--x6) }
.mb6 { margin-bottom: var(--x6) }

.mr1 { margin-right:   var(--x1) }

.mx { max-width: var(--mx) }
.bold { font-weight: bold }

.inline-block { display: inline-block }
.list-style-none { list-style: none }
 /*   ***   */
 .siteName {
   font-weight:200
 }

 img {
  max-width: 100%;
  height: auto;
}

cite {
  font-style: italic;
}

cite :before {
  content: '\2014 \00A0';
}

blockquote {
  border-left: thick solid var(--gray9);
  padding-left: 2rem;
  padding-right: .5rem;
  padding-top: .0625rem;
  padding-bottom: .0625rem;
  background-color: var(--gray1);
  color: var(--gray9);
  font-size: 110%;

}
li > blockquote {}

blockquote small {
   display: block;
}
.cleanlist {
    list-style-type: none;
}
.indexlist :any-link {
    border-bottom: .25rem solid var(--yellow1)
}

:any-link {
  color: var(--blue5);
  
}

.center {
    text-align: center;
}

.reset {
    padding: 0;
    margin: 0;
    border: 0;
}


.lowercase {
  text-transform: lowercase;
}

.center {
  text-align: center;
}