

#grid {
  width: 100vw; /* needed ? */
  box-sizing: border-box;
  display: grid; /* small screen can't be grid*/
  grid-gap: 0;
  grid-template-areas:
    " header header"
    "content content"
    "footer  footer";
}
.header { grid-area: header; }
.footer { grid-area: footer; }
.content { grid-area: content; }

.content {
  margin-left: 10vw;
  margin-right: 10vw;
  overflow: hidden;
}
.header,
.footer {
  margin-left: 9vw;
  margin-right: 9vw;
}
/*  END BASIC Layout */
@media (max-width: 600px) {
  .header, .footer {
    margin-left: 1vw;
    margin-right: 1vw;
    overflow: scroll;
  }
  .content {
    margin-left: 2vw;
    margin-right: 2vw;
  }
}

body {
  background-color: var(--base);
  font-family: var(--base-font);
  font-size: var(--h4);
  line-height: 1.33;
  color: #444;
}

.content {
  background-color: white;
}
.header, .footer {
  background-color: var(--black);
  color: white;
}

.boxhead, .footnote, .footnotes {
  padding: 1rem;
  background-color: white;
  color:var(--black);
  border-bottom: .0625rem solid var(--base);
}
/*.boxhead {
  color:white;
  font-size: 150%;
  background-color: var(--black);
}*/

.stanchionbox {
  color: #fff;
  border-radius: .3rem;
  padding: 1rem;
  & :any-link {
    color: white;
  }
}

.index-card {
}

.index-title {
  border-bottom: .0625rem solid var(--yellow1);
  & :any-link {
    border-bottom: 0;
  }
}

.index-markdown {
  background-color: white;
  overflow-y: scroll;
  & p, & h4 {
    margin-left: var(--x2);
    margin-right: var(--x2);}

  & pre {
    font-size: 75%;
    display: block;
    background-color: var(--blue9);
    border: .0625rem solid var(--gray8);
    overflow-y: scroll;
  }
  
  & pre code {
    color: var(--yellow1);
    background: none;
    border: none;
    display: inline-block;
    overflow: inherit;
    padding: 0.81rem;
    white-space: inherit;
    word-wrap: normal;
  }

  & code {  /* still used? */
    white-space: pre;
    background: var(--blue0);
    border: 0.0625rem  transparent;
    border-top-left-radius: .125rem;
    border-top-right-radius: .125rem;
    display: inline;
    font-family: var(--monospace);
    max-width: 100%;
    overflow: auto;
    padding: 0 0.25rem; /* last 0 to ensure we get a link boarder showing*/
  }
  & ul {
    list-style-type: none;
    line-height: 1.33;
  }

  & li > p {
    margin: .25rem;
  }
  & li > ul {
    margin-left: .25rem;
  }

}

code {  /* still used? */
  white-space: pre;
  background: var(--blue0);
  border: 0.0625rem  transparent;
  border-top-left-radius: .125rem;
  border-top-right-radius: .125rem;
  display: inline;
  font-family: var(--monospace);
  max-width: 100%;
  overflow: auto;
  padding: 0 0.25rem; /* last 0 to ensure we get a link boarder showing*/
}