/*@lost gutter 1rem;*/
.outline {
  /*lost-utility: edit rgb(15, 150, 25);*/
}

.blogContainer, .pageContainer {
  lost-column: 1;
  lost-utility: clear;
}

.header {lost-column: 1;}
.siteHead {lost-column: 1;}
.blogHead {lost-column: 1;}
.blogContent { lost-column: 1;}
.mainContent { lost-column: 1;}

@media (max-width: 45.001rem) {
  .mobileHide { display:none }
}
@media (min-width: 45rem ) {
/*.siteHead {lost-column: 1/4}
.blogHead {lost-column: 3/4}
.blogContent { lost-column: 2/3; lost-offset: 1/6}
 *** */
 .blogContainer, .pageContainer { lost-column: 5/6; lost-offset: 1/24;}
.mainContent {lost-column: 6/7; lost-offset: 1/48 ;  /*column-count: 2; column-rule: 1px solid lightblue;*/}

}



/*


.blog, {lost-column: 2/3; lost-offset: 1/6; lost-utility: clear;}





.blog:first-child {}
.blog:last-child { }
.blog:first-child { lost-column: 1/6;lost-utility: clear;}
.blog:last-child { lost-column: 1/8;lost-utility: clear;}*/