.markdown ul {
  list-style-type: none;
  text-indent: -.3rem;
}
@media (min-width: 46.5rem) {
  .markdown ul {
  list-style-type: none;
  text-indent: -.59rem;
}
}

.markdown li > p {

    padding: 0rem;
    border: 0rem;
    margin: 0rem
}

.markdown li > ul {
    padding-left: 1.25rem;
    padding-top: inherit;
    padding-bottom: inherit;
    margin: inherit
}


.markdown li  :any-link {
   border-bottom: .125rem solid var(--yellow1);
   border-radius: .125rem;
    color: var(--blue5);
    line-height: 1.77;
}

.markdown pre {
  font-size: 1.12rem;
  display: block;
  background: var(--gray9);
  
  border: .0625rem solid var(--gray9);
  border-radius: .25rem;
  overflow-y: hidden;
}

.markdown pre code {
  color: var(--yellow1);
  background: none;
  border: none;
  display: inline-block;
  overflow: inherit;
  padding: 0.81rem;
  white-space: inherit;
  word-wrap: normal;
}

time {

}

code {
  color:var(--gray9);
  white-space: pre;
  word-wrap: break-word;
  background: var(--yellow1);
  border: 0.0625rem solid var(--yellow1);
  border-radius: .125rem;
  display: inline;
  font-family: var(--monospace);
  max-width: 100%;
  overflow: auto;
  padding: 0 0.1625rem;
}


