@charset "utf-8";
:root {
  --monospace: "SFMono-Regular", Inconsolata, Consolas, Monaco, "Liberation Mono", Courier, monospace;
  --base-font: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Roboto, "Segoe UI", sans-serif;
  font-feature-settings: "kern", "liga", "pnum" ; /*"frac",  */
  -webkit-font-smoothing: antialiased;
  font-family: var(--base-font);

/* ripped from https://github.com/jxnblk/type-system/blob/master/type-system.css */
  --h0: 4.5rem;
  --h1: 3rem;
  --h2: 2.25rem;
  --h3: 1.5rem;
  --h4: 1.125rem;
  --h5: .75rem;

  --lh: calc(4/3);
  --mx: 32em;

  --m1: calc(2/3 * 1em);
  --m2: calc(4/3 * 1em);
  --m3: calc(8/3 * 1em);
  --m4: calc(16/3 * 1em);
  --x1: .5rem;
  --x2: 1rem;
  --x3: 2rem;
  --x4: 4rem;
  --x5: 8rem;
  --x6: 16rem;
}

/* custom media queries */
@custom-media --viewport-phone (max-width: 50.0rem);
@custom-media --viewport-medium (width >= 50rem) and (width <= 75.0rem);
@custom-media --viewport-non-mobile (min-width: 75rem);


/* Larger than mobile screen */
@media (min-width: 40.0rem) {  }

/* Larger than tablet screen */
@media (min-width: 80.0rem) {  }

/* Larger than desktop screen */
@media (min-width: 120.0rem) {  }