$code-background-color: transparentize($secondary-accent-color, .85);

pre {
	/* blocks */
//	box-shadow: 0px 0px 0px 1px $light_grayish_blue;
	@extend code;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
}

code {
	/* inline */
	font-family: $font-family-monospace;
	color: $black;
	font-size: ms(-1, 1rem, $minor-second);
	line-height: ms(-1, 1rem, $minor-second) * 1.5;
	background-color: $code-background-color;
	padding: $base-border-radius;
	border-radius: $base-border-radius;
	.highlight {
		background-color: $code-background-color; //shade($white, 3.1%) ;//rgb(50,50,50);
	}
}
