#footer {
  background: $footer-background;
  width:100%;
  height: $base-footer-height;
  font-size: ms(-3, $base-font-size, $minor-second);
  color: $white;
  p { text-align: center; }
  a, a:hover { color:$footer-font-color; }
     .footer {
        margin-left: auto;
        margin-right: auto;
        @include media($medium-screen-up) { max-width: $max-width; }
     }
  }
