#header {
   padding-top: 1rem;
   padding-bottom: .5rem;
   margin-bottom: .5rem;
   width: 100%;
   text-align: center;
   h1, h2 {line-height: 1; font-weight: 200;}
   a {
      color: $base-font-color;   }
   h2 {
      text-transform: lowercase;
      small, a {
         font-size: ms(-1, $base-font-size, $minor-second);//60%;
         color: lighten($base-link-color, $light2);   }
   }
   hr {
      margin: 0;
      padding:0;
      //border-style: ;
      border-bottom: $smallest_rem inset lighten($base-link-color, $light2);//$darkish_gray_orange;//$header-border-color;
   }
}
