.bits ul> li {
    padding-left: $base-font-size / $minor-sixth;
    text-indent: -( $base-font-size / $minor-sixth );
}
.number {
   list-style-type: decimal;
}
.bullet {
   list-style-type: circle;
}
.post-body, .page-body {
   margin-bottom:2rem;
   //a {
   //   border-bottom: rem(1px) dotted $base-accent-color;
   // }
   @import 'bedrock/asperities/explore';
   li> ul {
      margin-left: $base-spacing;
   }
   ol.number {
      @extend .number;
      margin: $base-spacing;
      ul> li {
         //margin-left:$base-line-height;
        @extend .bullet;
      }
   }
   .blank-bullet {
      ul> li {
         @extend .bullet;
      }
   }

}
.post-title, .page-title {
   text-transform: lowercase;
   small {
      vertical-align: middle;
      //text-transform: lowercase;
   }
}


.post, .page {

}

#posts {
   .post {
      margin: .5rem 0 .5rem 0;
//      border-bottom: rem(1px) solid $base-accent-color;
   }
   .post:first-child {
//      margin-top: 0rem;
   }
   .post:last-child {
//      border-bottom: none;
   }
}
.footnotes {
   font-family: $sans-serif;
   display: block;
   $footnotes-font: ms(-3, $base-font-size, $major-second);
   font-size: $footnotes-font;
   background-color: $tertiary-accent-color;
   padding: $footnotes-font / 2;
   p { margin: inherit;}
   ol {
      margin-left: #{$unitless-line-height}rem;
      margin-bottom: inherit;
      list-style-type: decimal;
   }
}

.mute {
  color: lighten($base-font-color, $light2 + $light1);
  font-weight: 200;
}

.meta-data {
  font-family: $font-family-monospace;
  color: lighten($base-font-color, $light2 + $light1);
  font-size:80%;
}
.count {
   font-family: $font-family-monospace;
}
blockquote {
   font-family: $serif;
   color: lighten($base-font-color, $light1);
   font-size: 105%;
   @include media($medium-screen-up) {
      font-size: 105%;
   }
   small{
      display: block;
   }
}
cite {
  color: lighten($base-font-color, $light2);
  font-style: italic;

  &:before {
    content: '\2014 \00A0';
  }
}
