---
layout: page
pageable: false
per_page: 12
title:
subtitle:
tags:
meta:
  description:
  image:
    url:
    caption:
    link:
---
<ul>
  <% page_articles.each_with_index do |article, i| %>
     <li><span class="meta-data"><%= article.date.strftime('%b %d') %>  &raquo; </span><%= link_to article.title.downcase, article %>
  <% end %>
</ul>

<% content_for :replace_title do %>
    <title>nullog <%= ' | re: ' + tagname.downcase %></title>
<% end %>
<% content_for :alt_title do %>
   <%= tagname %>
<% end %>
