article {
	padding-left: calc(1rem *  var(--rhythm-ratio));
	padding-right: calc(1rem *  var(--rhythm-ratio));
	@media(--viewport-medium) {
		padding-left: calc(1rem *  calc(var(--rhythm-ratio) * var(--nasa-pi)));
		padding-right: calc(1rem * calc(var(--rhythm-ratio) * var(--nasa-pi)));
	}
	@media(--viewport-non-mobile) {
		padding-left: calc(1rem *  calc(var(--nasa-pi) * var(--nasa-pi)));
		padding-right: calc(1rem *  calc(var(--nasa-pi) * var(--nasa-pi)));
	}
}
article:last-child {
	margin-bottom: var(--bottom-margin)
}
article :any-link {
	color: gray(64);
}

.title :any-link, .title {
	font-weight: 500;
}
.title a:hover {
	color: gray(128);
}

:root{
	--curent: calc(1rem * calc(var(--nasa-pi) / var(--rhythm-ratio)));
	--bottom-margin-base: var(--rhythm-squared);
	--bottom-margin: calc(1rem * var(--bottom-margin-base))
}
