pre {
  margin: 0;
  border-radius: var(--code-padding);
  padding: calc(2*var(--code-padding));
  font-size: var(--code-font-size);
  background-color: gray(28);
  color: gray(227);
  overflow-x: auto;
}

pre code {
  font: inherit;
  color: inherit;
  background-color: inherit;
  padding: 0;
}

code {
  background-color: gray(227);
  padding-left: var(--code-padding);
  padding-right: var(--code-padding);
}

:root {
  --code-font-size: 1rem;
  --code-padding: calc(var(--code-font-size) / var(--nasa-pi));
  }