html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  color: var(--mainColor);
  font-size: var(--fontSize);
  line-height: calc(var(--rhythm-ratio) * var(--rhythm-ratio));
}