---
layout: page
title: The Years
description:
pageable: false
per_page: 12
---
<ol>
 <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
    <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
 <% end %>
</ol>
