// Typography
$sans-serif: $helvetica;
$serif: $georgia;
$font-family-monospace: Inconsolata, Consolas, Monaco, monospace;

$header-font-family: $helvetica;
$base-font-family: $sans-serif;

// Font Sizes
$base-font-size: 1.125rem;
$h1-font-size: ms(13, $base-font-size, $minor-second);
$h2-font-size: ms(8, $base-font-size, $minor-second);
$h3-font-size: ms(5, $base-font-size, $minor-second);
$h4-font-size: ms(3, $base-font-size, $minor-second);
$h5-font-size: ms(2, $base-font-size, $minor-second);
$h6-font-size: ms(1, $base-font-size, $minor-second);

// Line Heights
$unitless-line-height: $minor-sixth;
$base-line-height: $base-font-size * $unitless-line-height;
$header-line-height:  $major-third;

// Other Sizes
$base-border-radius: #{$augmented-fourth / 10}rem;
$base-spacing: $base-line-height;
$base-z-index: 0;
$base-footer-height: 4.5rem;
$base-font-size-reduction: 60%;

// Colors
$blue: rgb(35,75,115); //#477DCA;
$dark-gray: rgb(61,61,61); //rgb(47,47,47); // #333;
$medium-gray: rgb(83,83,83);//rgb(103,103,103); // #999;
$light-gray: rgb(253,253,253); // #DDD;
$light-red: rgb(214,73,55) ;// #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

$white: rgb(249,249,249);
$black: rgb(47,47,47);
$light_grayish_violet: rgb(225,220,236);
$light_grayish_blue: rgb(225,236,241);
$light_grayish_orange: rgb(236,225,220);
$light_grayish_green: rgb(231,236,220);
$light_grayish_yellow: rgb(249,249,222);
$bright_red: rgb(230,35,70);
$dark_gray_blue: rgb(127,127,144);
$darkish_gray_orange: rgb(144,136,127);
$vivid_yellow: rgb(236,231,35);
$grayish_violet: rgb(192,182,215);
$light1: 15%;
$light2: 30%;

// Body Color
$base-background-color: white;
$base-body-color: $base-background-color;

//  Font Colors
$base-font-color: $black;
$base-accent-color: $light_grayish_violet;
$secondary-accent-color: $light_grayish_blue;
$tertiary-accent-color: $light_grayish_green;

//  Text Link Colors
$_base-link-color: $base-font-color;
   $base-link-color: lighten($_base-link-color, $light1); //$base-accent-color;
$_hover-link-color: $base-font-color;
   $hover-link-color: lighten($_hover-link-color, $light1); //darken($base-accent-color, 15);

// Header
$header-border-color: $grayish_violet;

// Border color
$base-border-color: lighten($base-font-color, $light2); //$light-gray;
$base-border: rem($unitless-line-height) solid $base-border-color;

// Footer Colors
$footer-background: $darkish_gray_orange; //$bright_red;//rgb(245,10,70);//$base-font-color; //$base-accent-color;//rgb(30,184,85); //rgb(31,193,246); //
$_footer-font-color: white;
   $footer-font-color: transparentize($_footer-font-color, .5);
