<% wrap_layout :layout do %>
<article class="page">
   <header class="page-title">
      <h2><%= current_page.data.title %> <span class="mute"><%= current_page.data.subtitle %></span></h2>
   </header>
   <div class="page-body">
      <%= yield %>
   </div>
</article>
<% end %>
