http://www.htmlgoodies.com/html5/Web-Developer-Tutorial-HTML5-Microdata-3920016.htm
https://stackoverflow.com/questions/4158876/html5-what-is-the-itemscope-attribute-and-what-does-it-do-in-laymans-terms
https://developers.google.com/structured-data/testing-tool/
http://www.ihid.co.uk/blog/markup-your-blog-using-schema-org
https://longren.io/adding-schema-org-markup-to-your-wordpress-themes/
http://www.internetmarketingninjas.com/blog/search-engine-optimization/schema-org-guide-beginners-cheatsheet/#types
https://schema.org/docs/gs.html
<div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">

  <img src="//null.jpg"/>
  <meta itemprop="img" content="//null.jpg">
  <meta itemprop="url" content="{{ site.uri }}/null.jpg">
  <meta itemprop="width" content="1">
  <meta itemprop="height" content="1">
</div>
<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
  <meta itemprop="url" content="{{ site.url }}">
  <meta itemprop="name" content="{{ author.name }}">
</div>
<meta itemprop="logo" content="{{ site.uri }}/favcon.png" id="siteLogo"> publisherName siteURL
